.send-message-card{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 4px 2px gray;
}

.btn-send-msg{
    padding: 5px;
    margin: 3px;
    width: 150px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.btn-send-msg:hover{
    box-shadow: 3px 4px 2px -2px rgb(0, 0, 0);
}

.contact-card{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px  gray;
}

.login-form-input{
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 7px;
}

.login-form-input:focus {
    outline: none;
  }

.text-area-input{
    width: 100%;
    border: none;
    padding: 20px;
    min-height: 150px !important;
    background-color: #f0f0f0;
    border-radius: 7px;
}

.text-area-input:focus {
    outline: none;
  }